.container-content-common /deep/ {
  .container-content-common-content {
    .article {
      &-title {
        font-size: 22px;
        font-weight: bold;
        margin-top: 8px;
        color: #333;
        vertical-align: baseline;
        width: 80%;
      }

    }

    .cell {
      padding: 5px 0 10px 0;
      height: fit-content;

      &-tag {
        margin-right: 5px;
      }

      &-time {
        display: inline-block;
        width: fit-content;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #838383;
        word-break: break-word;

        &:not(:last-child) {
          margin-right: 3px;
        }
      }
    }
  }

  .reply {
    margin: 10px 10px 20px 10px;
    background-color: #f6f6f6;

    &-count {
      padding: 0 10px 10px;
      color: #444;
      line-height: 20px;
    }

    &-block {
      padding: 10px;
      // background: #fff;
      border: 1px solid #f0f0f0;
      border-bottom: none;
      font-size: 14px;

      &-avator {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        margin: 0 10px 5px 0;
        vertical-align: top;
      }

      &-author {
        font-size: 12px;
        margin-right: 5px;
      }

      &-time {
        font-size: 12px;
        color: #08c;
      }

      &-tag {
        color: #fff;
        background-color: #6ba44e;
        padding: 2px;
        font-size: 12px;
        margin-left: 5px;
      }

      &-good {
        float: right;
        font-size: 15px;

        img {
          width: 15px !important;
          height: 15px !important;
          margin-right: 5px;
          vertical-align: baseline;
        }

        &-num {
          color: gray;
        }
      }

      ._rich-text {
        width: 100%;
        font-family: "Helvetica Neue";
        line-height: 1.7em;
        color: #333;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }
  }
}
