// 无效，小程序不支持*选择器
* {
  box-sizing: content-box;
  // box-sizing: border-box;
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}

page {
  height: 100%;
  font-family: "Helvetica Neue",
    "Luxi Sans",
    "DejaVu Sans",
    Tahoma,
    "Hiragino Sans GB",
    STHeiti,
    sans-serif !important;
  color: #333;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
