* {
  box-sizing: content-box;
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}

page {
  height: 100%;
  font-family: "Helvetica Neue",
    "Luxi Sans",
    "DejaVu Sans",
    Tahoma,
    "Hiragino Sans GB",
    STHeiti,
    sans-serif !important;
  color: #333;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
}
