/* 容器 */
.container-content {
  height: calc(100vh - 130px);

  .container-content-inner {

    .swiper-box {
      height: calc(100vh - 145px);
      padding: 10px 5px 0;

      swiper-item {
        overflow: auto;

        scroll-view {
          border-radius: 5px;
          border: 1px solid #e5e5e5;
          box-sizing: border-box;
        }
      }
    }
  }
}

/* 内容 */
.container-content-common /deep/ {
  .container-content-common-header {
    height: 37px;
    background: #f6f6f6;
    padding-left: 10px;

    .breadcrumb {
      // font-size: 14px;
      font-size: 0.86em;
      line-height: 37px;
      color: #999;

      &-slant {
        color: #ccc;
      }

      &-dashboard {
        color: #80bd01;
      }

      &-tab {
        display: inline-block;
        margin: 9px 6px;
        height: 22px;
        line-height: 18px;
        padding: 3px 4px;
        border-radius: 3px;
        box-sizing: border-box;
      }
    }
  }

  .container-content-common-content {
    background: #fff;
    padding: 10px 10px;
    border-top: 1px solid #e5e5e5;

    // 主页列表
    .cell {
      height: 50px;
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #f0f0f0;

      &:last-child {
        border-bottom: none;
      }

      // &:not(:last-child) {
      //   border-bottom: 1px solid #f0f0f0;
      // }

      img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
      }

      &-tag {
        display: inline-block;
        padding: 2px 4px;
        border-radius: 3px;
        font-size: 10px;
      }

      &-title {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        max-width: 220px;
        box-sizing: border-box;
        height: 30px;
        line-height: 30px;
        font-size: 0.86em;
        color: #333;
        margin-left: 5px;
      }

      &-reply {
        line-height: 2em;
        font-size: 10px;
        bottom: 0;

        span:first-child {
          color: #9e78c0;
        }

        span:nth-child(2) {
          color: #333;
        }
      }

      &-time {
        width: 53px;
        height: 28px;
        line-height: 28px;
        text-align: right;
        bottom: 0;
        right: 10px;
        font-size: 0.7em;
        color: #778087;
      }
    }

    // 分页
    .page {
      padding: 10px;

      &-block {
        display: inline-block;
        width: 30px;
        height: 28px;
        padding: 4px 8px;
        font-size: 0.8em;
        line-height: 18px;
        border: 1px solid #ddd;
        border-right: none;
        box-sizing: border-box;

        &:first-child {
          width: 34px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          width: 34px;
          border-right: 1px solid #ddd;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }

    // 引子
    .intro {
      margin-bottom: 30px;
    }

    // 标题
    .title {
      margin: 30px 0 15px 0;
      border-bottom: 1px solid #eee;

      &-main {
        font-size: 24.5px;
        line-height: 40px;
      }

      &-sub {
        font-size: 17.5px;
        line-height: 20px;
      }
    }

    // 正文
    .txt {
      font-size: 14px;
      line-height: 1.7em;
      overflow: auto;
      text-align: justify;
      word-break: break-all;

      p {
        &:not(:first-child) {
          margin-top: 1em;
        }

        a {
          color: #08c;
          text-decoration: none;
          display: inline;
        }

        ul {
          // 小程序无序列表小圆点无效
          // list-style-type: disc !important;
          padding-left: 10px;

          li {
            font-size: 14px;
            line-height: 2em;


            code {
              display: inline-block;
              color: #000;
              background-color: #fcfafa;
              padding: 4px 6px;
              font-size: 12px;
            }
          }

          // mpvue小程序穿透无效
          // li>>>code {
          //   display: inline-block;
          //   color: #000;
          //   background-color: #fcfafa;
          //   padding: 4px 6px;
          //   font-size: 12px;
          // }

        }

        pre,
        .topic-pre {
          font-family: Monaco,
            Menlo,
            Consolas,
            "Courier New",
            monospace;
          font-size: 14px;
          padding: 0 15px;
          margin: 20px -10px 0 -10px;
          background: #f7f7f7;
          tab-size: 4;
          line-height: 22px;
          // word-break: break-all;
          // word-wrap: break-word;
          // white-space: pre-wrap;

          code {
            display: inline-block;
            // color: #000;
            color: #333;
            background-color: #fcfafa;
            padding: 4px 6px;
            font-size: 12px;

            .json-str {
              color: #080;
            }
          }
        }
      }

      .article {
        margin-top: 1em;
      }

      &-content {
        margin-top: 1em;
      }
    }

    // 循环的block -> 去掉一些特殊情况的margin
    .block {
      &:first-child {
        .title-main {
          margin-top: 0;
        }
      }
    }

    // 登录表单
    .login-form {
      padding: 0 20px 20px 10px;

      &-label {
        display: inline-block;
        width: 18%;
        font-size: 14px;
        margin-top: 20px;
      }

      &-input {
        display: inline-block;
        width: 82%;
        height: 30px;
        box-sizing: border-box;

        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        padding: 4px 6px;
        vertical-align: bottom;
        margin-top: 20px;

        .weui-input,
        .i-input,
        input {
          height: 20px;
          line-height: 20px;
          min-height: 20px;
          font-size: 14px;
        }

        .password-img {
          width: 20px;
          height: 20px;
          top: 3px;
          right: 5px;
          z-index: 10;
        }
      }

      &-buttons {
        button {
          margin-top: 20px;
          padding: 3px 10px;
          color: #fff;
          background-color: #5bc0de;
          line-height: 2em;
          letter-spacing: 2px;
          border-radius: 3px;
          margin-right: 15px;
          vertical-align: bottom;
          min-width: auto;

          &:first-child {
            background-color: #08c;
            margin-right: 5px;
          }
        }

        .link {
          color: #778087;
          line-height: 2em;
          font-size: 14px;
          word-break: break-word;
          cursor: pointer;
        }
      }

      &-explain {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}
